mixin icon(name, mod)
    - mod = mod || ''
    if mod
        svg(class=`icon icon-${name} icon-${name}--${mod}`)
            use(xlink:href=`./img/svg/sprite.svg#${name}`)
    else
        svg(class=`icon icon-${name}`)
            use(xlink:href=`./img/svg/sprite.svg#${name}`)

mixin input(label, type, name, placeholder)
    .custom-input
        label.custom-input__label #{label}
        input(type=type, name=name, placeholder=placeholder, required).custom-input__input

mixin checkbox(text, name, link)
    .custom-checkbox
        input(type="checkbox", id=name, name=name)
        label(for=name)
            span.custom-checkbox__toggle
                <svg height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 6L5 10L11.5 1" stroke="#1E428F" stroke-width="2"/>
                </svg>
            span.custom-checkbox__text
                | #{text}
                if link
                    a(href=link.href) #{link.title}